version: "3.9"

services:
  app:
    build: .
    environment:
      DATABASE_ENGINE: postgresql+psycopg2://${DATABASE_USER?}:${DATABASE_PASSWORD?}@db:5432/postgres
      DATABASE_POOL_SIZE: 10
    ports:
      - "8002:80"

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  db-data: